<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>
</head>
<body>
<a href="/user/home">Back</a>
<h1 style="text-align:center;">Your Cart</h1>

<table border="1">
    <thead>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${productCarts}">
        <td th:text="${item.product.productName}">Name</td>
        <td th:text="${item.product.price}">0</td>
        <td th:text="${item.quantity}">1</td>
        <td th:text="${item.product.price * item.quantity}">0</td>
        <td>
            <form th:action="@{'/cart/increase/' + ${item.product.id}}" method="post" style="display:inline;">
                <button type="submit">➕</button>
            </form>
            <form th:action="@{'/cart/decrease/' + ${item.product.id}}" method="post" style="display:inline;">
                <button type="submit">➖</button>
            </form>
            <form th:action="@{'/cart/delete/' + ${item.product.id}}" method="post" style="display:inline;">
                <button onclick="return confirm('You sure to delete this item?')" type="submit">❌</button>
            </form>
        </td>
    </tr>
    </tbody>

    <div style="text-align:center; margin-top: 20px;">
        <h2>Total:
            <span th:text="${#numbers.formatDecimal(total, 1, 'POINT', 2, 'COMMA')}">0.00</span>
        </h2>
        <button onclick="window.location.href='/cart/checkout'" type="submit" style="font-size: 18px; padding: 10px 20px;">🛒 Checkout</button>
    </div>
</table>

</body>
</html>